Repository openbuildxyz/openbuild-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run license src, eslint

feat: dragHandle menu
  .eslintrc.json
  package.json
  src/shared/components/control/block-editor/BlockEditor.tsx
  src/shared/components/control/block-editor/DragHandle.js
  src/shared/components/control/block-editor/DragHandle.tsx
Due: npm run license src, eslint

fix: improve drag handle block insertion and deletion
  src/shared/components/control/block-editor/DragHandle.tsx
Due: none

chore: lint and add comment
  package.json
  src/shared/components/control/block-editor/DragHandle.tsx
Due: none

fix(app): use `PropsWithChildren` instead of `ReactNode`
  src/shared/components/control/block-editor/DragHandle.tsx
Due: none

refactor: refactor bounty processList
  src/app/bounties/[id]/Employers.js
  src/app/bounties/[id]/page.js
  src/domain/bounty/views/process-list/ProcessList.js
  src/domain/bounty/views/process-list/index.js
Due: npm run license src, eslint

fix(app): update `intent` field of image uploader for DevPlaza
  src/domain/profile/views/team-profile/CustomContent.js
Due: npm run license src, eslint

refactor: refactor applied builder list
  src/app/bounties/[id]/AppliedModal.js
  src/domain/bounty/views/applied-builder-list/AppliedBuilderList.js
  src/domain/bounty/views/applied-builder-list/index.js
Due: npm run license src, eslint

fix: dismiss dragHandle menu
  src/shared/components/control/block-editor/DragHandle.tsx
Due: none

fix: scroll dismiss
  src/shared/components/control/block-editor/DragHandle.tsx
Due: none

fix: pos in top level
  src/shared/components/control/block-editor/DragHandle.tsx
Due: none

fix: improve code according to feedback
  src/app/bounties/Filter.js
  src/app/creator/build/[type]/[id]/page.js
  src/app/profile/MySkill.js
  src/app/shilling/Filters.js
  src/app/shilling/[id]/Author.js
  src/app/shilling/[id]/page.js
  src/domain/skill/views/skill-overview/SkillOverview.js
  src/domain/skill/widgets/skill-label/SkillLabel.js
  src/domain/skill/widgets/skill-level/SkillCircle.js
  src/domain/skill/widgets/skill-level/SkillLevel.js
  src/domain/skill/widgets/skill-level/index.js
  src/domain/skill/widgets/skill-select/SkillSelect.js
  src/domain/skill/widgets/skill-select/index.js
Due: npm run license src, eslint

fix: operation pos
  src/shared/components/control/block-editor/DragHandle.tsx
Due: none

fix(app): errors while operating with YouTube block via drag handle
  src/shared/components/control/block-editor/DragHandle.tsx
Due: none

fix(app): selected value of `SkillSelect` in creator bounty page
  src/app/creator/build/[type]/[id]/page.js
Due: npm run license src, eslint

fix(app): make `SkillSelect` uncontrolled
  src/domain/skill/widgets/skill-select/SkillSelect.js
Due: npm run license src, eslint

refactor(app): add `SkillSelect`
  src/app/bounties/Filter.js
  src/app/creator/build/[type]/[id]/page.js
  src/app/profile/MySkill.js
  src/app/shilling/Filters.js
  src/app/shilling/[id]/Author.js
  src/app/shilling/[id]/page.js
  src/domain/skill/repository.js
  src/domain/skill/views/skill-overview/SkillOverview.js
  src/domain/skill/widgets/skill-level/SkillCircle.js
  src/domain/skill/widgets/skill-level/SkillLevel.js
  src/domain/skill/widgets/skill-level/index.js
  src/domain/skill/widgets/skill-select/SkillSelect.js
  src/domain/skill/widgets/skill-select/index.js
  src/shared/components/SelectSkills/index.js
Due: npm run license src, eslint

fix(site): background color of block editor popovers
  .knosys/presets/tailwind/app.js
  src/shared/styles/all.scss
Due: npm run license src

fix(site): link `ref` error of block editor
  package.json
  src/shared/components/control/block-editor/bubble/LinkSelector.js
Due: npm run license src, eslint

fix(site): task checkbox border color of block editor
  src/shared/styles/all.scss
  src/shared/styles/prosemirror.css
Due: npm run license src

fix(app/block-editor): wrong error reference of image upload
  src/shared/components/control/block-editor/bubble/TextButtons.js
  src/shared/components/control/block-editor/upload.js
Due: npm run license src, eslint

feat: add dify assistant
  next.config.js
  public/cat.svg
  src/entry/components/DifyWidget/index.js
  src/entry/components/RunLlmWidget/index.js
  src/entry/index.js
Due: npm run license src, eslint

feat: remove bounty unuse code
  src/app/bounties/[id]/AppliedModal.js
  src/app/bounties/[id]/Employers.js
Due: npm run license src, eslint

feat: profile desc support web3bio
  src/domain/profile/widgets/profile-card/ProfileCard.js
Due: npm run license src, eslint

feat: profile social info support web3.bio
  public/images/svg/web3bio-2.svg
  src/domain/profile/widgets/social-info/SocialInfo.js
  src/domain/profile/widgets/social-info/SocialLink.js
Due: npm run license src, eslint

feat: add web3bio mark of profile avatar
  src/domain/profile/widgets/profile-card/ProfileCard.js
Due: npm run license src, eslint

feat: update web3bio profile
  public/images/svg/basenames-blue.svg
  public/images/svg/farcaster-purple.svg
  public/images/svg/lens-green.svg
  src/domain/profile/widgets/social-info/Web3BioProfile.js
Due: npm run license src, eslint

refactor: bounty refactor ProcessList.js
  src/app/bounties/[id]/Activities.js
  src/app/bounties/[id]/Employers.js
  src/app/bounties/[id]/page.js
  src/domain/bounty/views/applied-builder-list/AppliedBuilderList.js
  src/domain/bounty/widgets/process-list/AgreeFinishedModal.js
  src/domain/bounty/widgets/process-list/AppliedModal.js
  src/domain/bounty/widgets/process-list/ApplyFinishedModal.js
  src/domain/bounty/widgets/process-list/ProcessList.js
  src/domain/bounty/widgets/process-list/index.js
Due: npm run license src, eslint

feat: replace RunLLM with Dify
  next.config.js
  public/cat.svg
  src/entry/components/DifyWidget/index.js
  src/entry/components/RunLlmWidget/index.js
  src/entry/index.js
Due: npm run license src, eslint

feat: profile avatar support web3.bio
  src/domain/profile/widgets/profile-card/ProfileAvatar.tsx
  src/domain/profile/widgets/profile-card/ProfileCard.js
  src/domain/profile/widgets/social-info/SocialInfo.js
  src/domain/profile/widgets/social-info/Web3BioProfile.js
  src/shared/components/Avatar/index.tsx
Due: npm run license src, eslint

fix(block-editor): show slash commands
  src/shared/components/control/block-editor/BlockEditor.tsx
  src/shared/components/control/block-editor/extensions.ts
  src/shared/components/control/block-editor/slash.tsx
  src/shared/styles/prosemirror.scss
Due: npm run license src

chore: lint
  src/shared/styles/prosemirror.scss
Due: npm run license src

fix(block-editor): drag-menu with columns
  src/shared/styles/prosemirror.scss
Due: npm run license src

fix(block-editor): operation columns
  src/shared/components/control/block-editor/DragHandle.tsx
Due: none

Path conditions:
  npm run license src: any of: src/**/*.{js,css,scss}
  eslint: any of: src/**/*.js
